@import url(https://fonts.googleapis.com/css?family=Oswald:700);

body {
	background: #231f20;
	text-align: center;
}

h1 {
	color: #fff;
	font-family: 'Oswald';
	font-weight: 700;
	position: relative;
	margin: 30px auto;
	text-transform: uppercase;
	width: 550px;
}

h1::before {
	content: '';
	background: #4a90e2;
	display: inline-block;
	margin-right: 5px;
	height: 26px;
	width: 18px;
	border-radius: 13px 0px 0px 13px;
	border: 0px solid #4a90e2;
}

h1::after {
	content: '';
	background: #4a90e2;
	display: inline-block;
	margin-left: 5px;
	height: 26px;
	width: 18px;
	border-radius: 0 13px 13px 0;
	border: 0px solid #4a90e2;
}
